body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header
{
  position: absolute;
  top:0;
  left:0;
  padding: 0 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
}
header nav
{
    float:right;
}
header .logo
{
  color:#fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}
header .logo img
{
  max-width:100%;
}
header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li
{
  list-style: none;
}
header nav ul li a
{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color:#fff;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover,
header nav ul li a.active,
{
  color:#fff;
  background: #2196f3;
}
.menu-toggle
{
  color:#fff;
  float:right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 100px;
  background: #262626;
  box-sizing: border-box;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
